.User-Card{
    background-color: #004A98;
    display: flex;
    flex-direction: column;
    padding: 2%;
    color: #fff;
    font-size: 1.2rem;
    width: 75%;
    text-align: center;
    border-radius: 8px;
    margin-left: 12.5%;
    min-height: 35vh;
    margin-top: 5%;
}


.Card-head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.Spacer-large{
    flex: 1;
}

