.Chat{
    height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.CurChat{
    display: flex;
    flex-direction: column;
    background-color: #004a98;
    height: 100%;
}
.Friends-List{
    height: calc(100vh - 64px);
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (max-width:768px){
    .Chat{
        grid-template-columns: 1fr;
    }
}
.messages-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.message-form{
    align-self: flex-end;
    height: 4.5vh;
    width: 100%;
    display: grid;
    grid-template-columns: 12fr 1fr;
}

@media (prefers-color-scheme : dark) {
    .Friends-List{
        background-color: #181a1b;
    }
}