.Chat{
    height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.CurChat{
    background-color: #004a98;
    height: 100%;
}
.Friends-List{
    height: calc(100vh - 64px);
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (max-width:768px){
    .Chat{
        grid-template-columns: 1fr;
    }
}
@media (prefers-color-scheme : dark) {
    .Friends-List{
        background-color: #181a1b;
    }
}