.FriendCard{
    display: flex;
    align-items: center;
    text-align: start;
    border: 1px solid #6b6b6b;
    border-top: none;
    border-radius: 5px;
    padding: 5% 5%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2rem;
}
.FriendCard:nth-child(1){
    border-top: 1px solid #6b6b6b;
}