.FriendCard{
    display: flex;
    align-items: center;
    text-align: start;
    border-top: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2rem;
}
.FriendCard>button{
    border-bottom: 1px solid #6b6b6b;
    border-radius: 0%;
    width: 100%;
    padding: 5% 5%;
    justify-content: start;
    overflow-wrap: break-word;
}
.FriendCardAvatar{
    margin-right: 15px;
}