.FriendCard{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-top: none;
    margin-left: 5px;
    margin-right: 5px;
}
.FriendCard>button{
    border-bottom: 0.5px solid #363c3d;
    border-radius: 0%;
    width: 100%;
    padding: 8% 5%;
    justify-content: start;
    overflow-wrap: break-word;
    font-size: 1.15rem;
}
.FriendCardAvatar{
    margin-right: 15px;
}