.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    width: 15%;
    padding-left: 2%;
    padding-top: 5px;
    height: 100vh;
}
