@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");
h1 {
	font-size: 4rem;
}
h3 {
	font-size: 2rem;
	font-weight: 500;
}
html {
	scroll-behavior: smooth;
}
@media (max-width: 760px) {
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 1.5rem;
	}
}
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #004a98;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: white;
  }

@media(prefers-color-scheme: dark){
	/* width */
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #004a98;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(24, 24, 24);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(24, 24, 24);
  }
}